<h2>ハノイの塔プログラム（再帰的アルゴリズムを使って）</h2>

<p>
ハノイの塔のプログラム、やっと出来た！というよりこれが初めてのプログラムサンプルになります。
</p>

<ul><%= link_to "ソースはこちら", "https://section9-shocyu-1.c9.io/library/hanoi_source" %></ul>

<p>
ハノイの塔とは何か、サイト上でゲームが出来るサイトがあります、こちらで体験してみてください。画像はこちらのゲームを動かして
キャプチャしたものを使わせていただきました。</p>
<p><%= link_to "(「ハノイの塔が100段の時、ゴールできるまでの最短時間を計算してみた」)", "http://hanoi.aimary.com/" %></p>

<p>
さて、このハノイの塔ですが、プログラミングのセンスを磨く上でいい題材、というのもありますが、プラス数学的発想を身に着ける上で、
面白くて重要な問題です。
</p>

<p>
いわゆる、１つ目、２つ目、・・・・・無限大！　という“数学的帰納法”の発想です。難しい言葉はいいのでまずはやってみましょう。
</p>

<p>
ハノイの塔の最短の手数は、コマの数をｎとすると、２のｎ乗マイナス１回になります。
</p>

<p>
例えば、コマが４つ（ｎ＝４）ならば、１５回（2^4 - 1 = 15)、コマが８個（ｎ＝８）ならば、２５５回となります。
</p>

<p>
では、どうやって最短ルートが決まるのか、少なめの数、まずはコマが３個の時から考えてみましょう。
</p>

<p>１．まず上の２個を真ん中に持っていき（ここまでで３回移動させます）</p>

<div align="center">
<p><%= link_to(image_tag("hanoi1.png", size: "500x180", align: "top")) %></p>
</div>

<p>２．次にいちばん下のコマを左から右へ</p>

<div align="center">
<p><%= link_to(image_tag("hanoi2.png", size: "500x180", align: "top")) %></p>
</div>

<p>３．最後に真ん中の２つを右へと（これも３回必要です）</p>

<P>合計　３＋１＋３　＝７回（ (2^3)-1 = 7回、と公式通りですね)</P>

<p>次にコマが４つの場合はどうでしょうか？</p>

<p>１．まず最初に３つのコマを真ん中に持っていき（これは７回かかりますね）</p>

<div align="center">
<p><%= link_to(image_tag("hanoi3.png", size: "500x180", align: "top")) %></p>
</div>

<p>２．次に一番下の４番目のコマを左から右へ</p>

<div align="center">
<p><%= link_to(image_tag("hanoi4.png", size: "500x180", align: "top")) %></p>
</div>

<p>３．最後に真ん中の３つを右へと（これは７回）</p>

<p>合計 ７＋１＋７＝１５回（これも公式通りです！）</p>

<p>まとめますと、１つの方法が分かれば、その次の方法が分かる。逆に言えばあるコマの数の移動を求める場合、その１つ前の方法が分かればいい、
そしてそれをずっと繰り返して（最後は２個の移動になる）、最後につなげる、こうすれば答えが見つかりそうです。</p>

<p>では、実際のハノイの塔のプログラムですが、ポイントは 62, 63 行目の hanoi メソッドのラストです</p>

<div class="source">
<p>ar1 = hanoi((piece - 1), start1, stack) + direct(piece, start1, goal1) + hanoi((piece - 1), stack, goal1)</p>
<p>        return ar1</p>
</div>
<br>

<p>hanoi メソッドの中で hanoi メソッドを呼び出している、これが再帰的アルゴリズムです。また最後にこのメソッドは ar1 という配列
（正しくは配列 Array クラスによって生成されたオブジェクト）を返しています。ですから２つのhanoiメソッドを組み合わせて新たな配列を
生み出す、ということが可能です。真ん中の directは１つのコマの移動を配列に格納し、その配列を返すメソッドです</p>

<p>ただし再帰的アルゴリズムは計算に時間がかかります。そこで最後に実行時間を表示できるようにしました。</p>

<ul><%= link_to "ソースはこちら", "https://section9-shocyu-1.c9.io/library/hanoi_source" %></ul>